<html>

<head>

<style>

h1 {color:blue;}
.even-list-item {background-color: #eaecee;}
#states {border-style: dotted;}
#constituencies {border-style: dashed;}

</style>

<title>States of Luzland</title>

</head>

<body>

<h1>States of Luzland</h1>
        
<p>There are <strong id="states">four states</strong> in Luzland, each divided into <strong id="constituencies">25 parliamentary constituencies</strong>. Click on the links below to see the list of constituencies in each state.</p>
        
<ul>
<li><a href="https://luzpar.netlify.app/states/east-luzland/" title="East Luzland State">East Luzland</a></li>
<li><a href="https://luzpar.netlify.app/states/north-luzland/" title="North Luzland State" class="even-list-item">North Luzland</a></li>
<li><a href="https://luzpar.netlify.app/states/south-luzland/" title="South Luzland State">South Luzland</a></li>
<li><a href="https://luzpar.netlify.app/states/west-luzland/" title="West Luzland State" class="even-list-item"> West Luzland</a></li>
</ul>

</body>
</html>